* {
     font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

.boxed {
    display: block;
    position: relative;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(/Resources/img/old_moon.png)
}

.nopadding {
    padding: 0; !important
    margin: 0; !important
}

#nav p {
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #ecf0f1;
}

h1 {
    color: #ecf0f1;
}

#nameBar {
    background-color: #004ba0; 
    padding: 30px 0;
    color: #ecf0f1;
}

#nameBar h1 {
    padding-left: 10px;
}

#cvBar {
    background-color: #153572;
    text-align: center;
    vertical-align: middle;
}

#typeOutBar {
    background-color: #1976d2; 
    padding: 30px 0;
    color: #ecf0f1;

}

#typeOutBar h3{
    padding-left: 10px;
}

#linkedInBar {
    background-color: #265cc3;
    text-align: center;
    vertical-align: middle;
}

#nav .icon {
    color: #ecf0f1;
    font-size: 2.5em;
    /*display: block;*/
    position: relative;
}

.sideLinks {
    display: inline-block;
    margin-top: 15px;
}

#firstIcon {
    margin-top: 24px;
}


.navBox {
    text-align: center;
    background-color: #63a4ff
}

/*#homeLink {
    background-color: #2E61FD;
}

#portfolioLink {
    background-color: #4592BF
}

#contactLink {
    background-color: #5CC2FF
}

#aboutLink {
    background-color: #2044B1;
}

#resumeLink {
    background-color: #2752D7
}

#blogLink {
    background-color: #102157
}*/

#pictureCol {}

#personalInfo {
    background: #efefef
}

#aboutBox {
    background: #fff;
}

.infoBox {
    padding: 50px;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.long-copy {
    line-height: 170%;
}

    
.jobTitle { 
    font-weight: bold; 
    font-size: 1.2em; 
 }

#employmentBox {
    background-color: #4d4e50;
    color: #ecf0f1;
}

#skillsBox {
    background-color: #7c7c7c;
    color: #ecf0f1
}

.centerTitle{
    width: 100%;
}
.titleRow {
    text-align: center;
}

#skillsBox h3 {
    padding-bottom: 10px;
}

/*#skillsAndHobbiesTitle {
    border-bottom: 1px solid #ecf0f1;
}*/

#alignRight {
    text-align: right;
}

.hobbiesRow {
    text-align: right;
}

#portTitle {
    padding-bottom: 5px;
    color: #ecf0f1;
}

#portfolio {
    background-color: #004a9f;
}

.card {
    margin-bottom: 10px;
}

#blog {
	background-color: #fff;
}

  /*---------------------------*/
 /*        ANIMATIONS         */
/*---------------------------*/

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #27282a;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #27282a;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
    text-decoration: none;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}