* {
    font-family: 'Encode Sans Expanded', sans-serif;
}

#nav p {
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #ecf0f1;
}

h1 {
    color: #ecf0f1;
}

#nameBar {
    background-color: #384B72;
    padding: 30px 0;
    color: #ecf0f1;
}

#nameBar h1 {
    padding-left: 10px;
}

#cvBar {
    background-color: #153572;
    text-align: center;
    vertical-align: middle;
}

#typeOutBar {
    background-color: #4e679b;
    padding: 30px 0;
    color: #ecf0f1;

}

#typeOutBar h3{
    padding-left: 10px;
}

#linkedInBar {
    background-color: #265cc3;
    text-align: center;
    vertical-align: middle;
}

#nav .icon {
    color: #ecf0f1;
    font-size: 2.5em;
    position: relative;
}

.sideLinks {
    display: inline-block;
    margin-top: 15px;
}

#firstIcon {
    margin-top: 24px;
}


.navBox {
    text-align: center;
}

#homeLink {
    background-color: #4EA5D9;
}

#pictureCol {}